<html lang="en">
<%- include("../header.ejs") %>
<link rel="stylesheet" href="../css file/projectdetails.css" />

<body>
  <%- include("../nav.ejs") %>

  <div class="details content">

    <!-- <h2><%= myproject.title %></h2>
    skill, idea, gitlink,drivelink, image,video -->

        
  </div>

  <%- include("../footer.ejs") %>
</body>
</html>


