<div class="navigation">
    <div class="logo">
      <img src="../Public/Image/LogoName.png" class="logo_image" />
    </div>
    <div class="linkandimage">
      <div class="link"><a href="" class="navigate">Home</a></div>
      <div class="link"><a href="" class="navigate">Peek Learning</a></div>
      <div class="link"><a href="" class="navigate">Help</a></div>
    </div>
    <div class="imagelink">
      <div class="notification">
        <a href="" class="navigate" style="color: #4169fc" 
          ><i class="fa-solid fa-envelope-open-text fa-2xl"></i
        ></a>
      </div>
      <div class="notification">
        <a href="" class="navigate" style="color: #4169fc"
          ><i class="fa-solid fa-user fa-2xl"></i
        ></a>
      </div>
      <div class="notification">
        <a href="" class="navigate" style="color: #4169fc"
          ><i class="fa-solid fa-right-from-bracket fa-2xl"></i
        ></a>
      </div>
    </div>
  </div>